$fontColor: #483d8b;
$backgroundColor: #f0fff0;
$fontTypingTextSize: 2em;
$fontFamily: 'Montserrat', Arial, Helvetica, sans-serif;

a {
  border: none;
  color: $fontColor;
  text-decoration: none;
}

a:active {
  color: $fontColor;
  border: none;
  text-decoration: none;
}

a:visited {
  color: $fontColor;
  border: none;
  text-decoration: none;
}

.main-page-container {
  min-height: 500px;
  min-width: 500px;
}

@media screen and (height <= 500px) {
  .main-page-container {
    overflow-y: scroll;
  }
}
