$fontColor: #483d8b;
$backgroundColor: #f0fff0;
$fontTypingTextSize: 2em;
$fontFamily: 'Montserrat', Arial, Helvetica, sans-serif;

body {
  font-family: $fontFamily;
  font-weight: 500;
}

.main-page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 100vw;
  background-color: $backgroundColor;
  color: $fontColor;
  overflow: hidden;

  .main-page-header {
    box-sizing: content-box;

    .header-container {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }

    .header-container > * {
      margin: 10px 10px 10px 0;
    }
  }

  .main-page-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;

    .main-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .text-container {
        position: relative;
        -youbkit-touch-callout: none;
        -youbkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        font-size: $fontTypingTextSize;

        .text {
          position: relative;
          display: flex;
          flex-direction: row;
          width: 100vw;
          margin-left: 100vw;
          white-space: pre;
        }
      }

      .typing-area-container {
        position: absolute;
        width: 800px;
        border: 2px solid #483d8b;
        border-radius: $fontTypingTextSize;
        padding: 1em 0 1em 0;
        z-index: -9;

        .typing-area {
          font-size: $fontTypingTextSize;
          font-family: $fontFamily;
          font-weight: 500;
          color: #483d8b;
          background-color: #f0fff0;
          text-align: right;
          width: 400px;
          border: none;
          outline: none;
          padding: 0;
          border-top-left-radius: $fontTypingTextSize;
          border-bottom-left-radius: $fontTypingTextSize;
          // создать div и покрыть им typing-area-container с z-index и opacity
        }
      }
    }

    .main-container > * {
      margin-bottom: 1em;
    }
  }

  .main-page-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    box-sizing: content-box;
  }
}

.intro {
  font-size: $fontTypingTextSize;
  opacity: 0.7;
}

.result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;

  .finish-elem {
    font-size: 1.5em;
  }
}

.timer {
  font-size: 1.5em;
}

.main-page-btn {
  background-color: $backgroundColor;
  border: none;
  padding: 0;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.settings-background {
  display: none;
  position: absolute;
  z-index: -10;
  background-color: black;
  opacity: 0.5;
  width: 100vw;
  height: 100vh;
}

.settings-tab-container {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  z-index: -11;

  .settings-tab {
    display: none;
    width: auto;
    height: 90vh;
    max-height: 600px;
    background-color: $backgroundColor;
    z-index: -12;
    border: $fontColor solid 1px;
    border-radius: 10px;

    .settings-item {
      margin: 10px 10px 0 10px;
    }
  }
}
